body{
    background-color: black;
    font-size: 18px;
    color: red;
}
.colonne1{
    column-width: 700px;
    position: absolute;
    left: 50px;
}
.etapeNid{
    position: absolute;
    left: 800px;
}
.menu{
    position: absolute;
    top: 450px;
    text-align: center;
}